<% @album.photographs.in_groups_of(3) do |group| %>
   <div class="row">
    <% group.compact.each do |photo| %>
      <div class="col-xs-2 pop">
        <%= image_tag photo.img.url, :width => '100%', :id => 'image_id' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row" align="right">

  <%= link_to new_photograph_path, class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-picture"></i>Upload Photo
  <%end%>

  <%= link_to albums_path, class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-picture"></i>Gallery
  <%end%>

  <%= link_to home_index_path, class: 'btn btn-primary' do %>
   <i class="glyphicon glyphicon-home"></i>Home
  <%end%>

</div>

<div id="photo_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
          <img src="" id="imagepreview" style="width: 100%; height: 100%;" >
      </div>
    </div>

    <div class="modal-footer">
       <%#= link_to "Previous",@photograph.prev(@photograph)%> <%#= link_to "Next", @photograph.next(@photograph) %>
    </div>

  </div>
</div>
