<div class="modal-header">
  <h3 align="left"><u>New Category</u></h3>
</div>
    <%= render 'categories/form' %>
    <!-- <br> -->
   <!--  <div class="row">
      <%#= link_to categories_path, class: 'btn btn-primary' do%><i class="glyphicon glyphicon-arrow-left"></i> Back <%#end%>
    </div> -->
